::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}

.mapContainer{
    width: 100%;
    height: 300px;
    overflow: auto;
    background-color: black;
}
.map {
    zoom: 2;
    display: block;
    position: relative;
}

.map .node{
    border: 1px solid gray;
    border-radius: 10%;
    width: 54px;
    height: 54px;

    font-size: 0.5em;
    text-align: left;
    position: absolute;
    overflow: hidden;
    padding: 2px;
}

.nodeId{
    text-align: left;
    padding: 0.5em 1em;
    position: absolute; 
}

.node .player::before{
    content: "🚀";
}
.node .player.team1 {
    color: rgb(255, 0, 255);
}
.node .player.team2 {
    color: yellow;
}

.node .nodeId{
    font-size: 0.8em;
    color: white;
}

.node .item {
    background-color: white;
    border-radius: 40%;
    padding: 0.2em;
    width: 2.4em;
    color: black;
    margin: auto;
    text-align: center;
}

.node .item.noidea{
    display: none;
}
.node .item.noidea::before{
    content: "?";
}
.node .item.noidea::after{
    content: "?";
}

.node .item.good::before{
    content: "⛏";
}
.node .item.demand::before{
    content: "💰";
}

.node .item.ruby::after{
    content: "💎";
    color: red;
}
.node .item.saphire::after{
    content: "💎";
    color: blue;
}
.node .item.emerald::after{
    content: "💎";
    color: greenyellow;
}

.zoomb{
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    opacity: 0.4;
}